{
    "ips": [
        {
            "ip": "192.168.1.1",
            "monitor_24h": false
        },
        {
            "ip": "192.168.64.131",
            "monitor_24h": false
        }
    ],
    "time_ranges": [
        "07:00-11:00",
        "12:00-18:00"
    ]
} 
